<h2>Add Vehicle</h2>

<form method="POST" enctype="multipart/form-data">
    Vehicle Name:<br>
    <input type="text" name="name" required><br><br>

    Vehicle Type:<br>
    <input type="text" name="type" required><br><br>

    Price per day:<br>
    <input type="number" name="price" required><br><br>

    Location:<br>
    <input type="text" name="location" required><br><br>

    Vehicle Image:<br>
    <input type="file" name="image" required><br><br>

    <button type="submit">Add Vehicle</button>
</form>